body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

a {
  color: #136aec;
}

label {
  background-color: aliceblue;
  padding: 1.5vmin;
  border: 0.3vmin solid black;
}

form {
  display: flex;
  flex-direction: row;
  text-align: right;
}

th, td {
  padding: 1vmin;
  text-align: justify;
  border: 0.3vmin solid black;
}

td:hover {
  background-color: aliceblue;
  color: black;
  font-weight: bold;
}

input[type=submit] {
  background-color: #2eb45d;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  border-radius: 15%;
  cursor: pointer;
}