<%- include('../partials/header')%>

<h1>Enter a New Flight</h1>
<form action="/flights" method="POST">
    <label>Airline:
        <select name="airline">
            <option value="Alaska">Alaska</option>
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
    </label>
    <label>Airport:
        <select name="airport">
            <option value="PDX">PDX</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="BOS">BOS</option>
        </select>
    </label>
    <label>Flight Number:
        <input type="number" name="flightNo">
    </label>
    <label>Departs:
        <input type="datetime-local" name="departs" >
    </label>
    <input type="submit" value="ADD">
</form>

<%- include('../partials/footer')%>